// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText: #6D7276;
$menuActiveText: #00b38b;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #1c2b36;
$menuHover: #223542;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 220px;
$sideRightBarWidth: 200px;

$mainColor: #00b38b;
$mainBgColor: #f8f8fa;

$borderColor: #EFEFF4;

// font color
$fontDark: #323233;
$fontGrey: #666667;
$fontTint: #98989c;

//white
$whiteBg: #FFFFFF;

//lxj color
$lxj-color:#008042;
//$lxj-color:#36c2aa;
$gray1:#111;
$gray2:#222;
$gray3:#333;
$gray4:#444;
$gray5:#555;
$gray6:#666;
$gray7:#777;
$gray8:#888;
$gray9:#999;
$graya:#aaa;
$grayb:#bbb;
$grayc:#ccc;
$grayd:#ddd;
$graye:#eee;
$white:#fff;
$black:#000;
//主背景灰色;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  mainColor: $mainColor;
  mainBgColor: $mainBgColor;
  fontDark: $fontDark;
  fontGrey: $fontGrey;
  fontTint: $fontTint;
  whiteBg: $whiteBg;
  lxjColor: $lxj-color;
  gray1: $gray1;
  gray2: $gray2;
  gray3: $gray3;
  gray4: $gray4;
  gray5: $gray5;
  gray6: $gray6;
  gray7: $gray7;
  gray8: $gray8;
  gray9: $gray9;
  graya: $graya;
  grayb: $grayb;
  grayc: $grayc;
  grayd: $grayd;
  graye: $graye;
  white: $white;
  black: $black;
}
